@{
    Layout = null;
}
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
@System.Web.Optimization.Styles.Render("~/bundles/fontawesome")
@System.Web.Optimization.Styles.Render("~/bundles/main")
<link href="~/Content/viewer.min.css" rel="stylesheet" />
<script src="~/Scripts/viewer.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>


<!DOCTYPE html>
<script>
$(document).ready(function () {

        $('#imgDiv ul li img').trigger("click");


});

</script>
<div class="p-t-15">
    @if (ViewBag.Image != null)
    {
        <div id="imgDiv">
            <ul class="images">
                <li>
                    <img id="image" src='data:image/png;base64,@ViewBag.Image' alt="mtsin.com" class="img-polaroid img-thumbnail" style="width: 145px; height: 170px; border: solid black">
                </li>

            </ul>
        </div>
        <script>

            $('.images').viewer({

                inline: false
            });

        </script>
    }

</div>
<br />
<br />
