@{
    ViewBag.Title = "Import";
}

<script src="~/Scripts/bootbox.min.js"></script>

<form id="ExcelUpload" class="form-signin">
    <div class="card card-shadow">
        <div class="card-header text-center">
            Excel Import
        </div>
        <div class="card-body">

            <div>
                <div class="form-group ">
                    @*<label for="ExcelFileUpload">Upload your File</label>*@
                    <input type="file"   id="ExcelFileUpload" class="file form-control">
                </div>
                <span style="color: red; font: bolder;" id="fileErrorMessage"></span>
                <div class="text-right">
                    <button class="btn btn-primary" type="button" onclick="UploadExcel()"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</button>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        //validating uploaded file whether it is Excel or not while uploading  
        $("#ExcelFileUpload").change(function () {
            fileErrorMessage.innerHTML = '';
            var vtrUpload = $("#ExcelFileUpload").val().toLowerCase();
            var regexVTRUpload = new RegExp("(.*?)\.(xlsx|xls)$");
            if (!(regexVTRUpload.test(vtrUpload))) {
                fileErrorMessage.innerHTML = 'Please select .xls or .xlsx files';
            }
        });
    });

    function UploadExcel() {
        
        var formdata = new FormData(); //FormData object  
        var fileInput = document.getElementById('ExcelFileUpload');
        var filename = fileInput.files[0].name
        var extension = filename.split('.').pop().toUpperCase();
        if (extension != "XLS") {
            fileErrorMessage.innerHTML = 'Please select .xls files';
        }
        else {
            //Iterating through each files selected in fileInput  
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object  
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }

            $.ajax({
                url: '@Url.Action("Import", "ImportExcel")', //ReadExcelFile is a Action Name and ExcelUpload is Controller name  
            type: 'POST',
            data: formdata, // Posting the uploaded excel file to controller  
            // async: false,  
            success: function (data) {
                
                if (data == 1) {
                    toastr.success("File Uploaded Successfully");
                }
                else {
                    toastr.error("File Uploading Failed");
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
}
</script>
