@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/ValidationFunction.js"></script>

<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/excel.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>

<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/datatables.sorting.natural.js"></script>

<script>
    var groupTable;
    var rowData = "";

    $(document).ready(function () {
        groupTable = $("#getassetreport").DataTable({
            "dom": 'Bfrtip',
            buttons: [

        'excel',

            ],
            "data": "",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
            "bFilter": true,
            "scrollX": true,
            "bProcessing": true,
            "ajax": {
                type: "GET",
                url: '@Url.Content("~/AssetReport/Read")',
                dataSrc: function (data) {
                    return JSON.parse(data);

                }
            },

            "aoColumns":
       [{ "mData": "ASSET_TYPE", "sTitle": "Asset Classification", "sClass": "text-left", "sWidth": "80px" }//0
      , { "mData": "ASSET_NAME", "sTitle": "Category", "sClass": "text-left" }//1
      , { "mData": "ASSET_NUMBER", "sTitle": "Asset Number", "sClass": "text-left" }//2
      , { "mData": "ITEM_DESCRIPTION", "sTitle": "Item Description", "sClass": "text-left" }//3
      , { "mData": "PURCHASED_ON",'sType':'date', "sTitle": "Date of Purchase", "sClass": "text-center" }//4
      , { "mData": "SUPPLIER_NAME", "sTitle": "Supplier Name", "sClass": "text-left" }//5
      , { "mData": "LOCATION", "sTitle": "Location", "sClass": "text-center" }//6
       , { "mData": "PURCHASE_VALUE", "sTitle": "Purchase Value(Rs.)", "sClass": "text-right" }//7
     //  , { "mData": "Depreciation", "sTitle": "Rate Of depreciation(%)", "sClass": "text-center","bvisible":false}//8
        , { "mData": "DateOfSale", 'sType': 'date', "sTitle": "Date Of Sale", "sClass": "text-center" }//9
        , { "mData": "SalePrice", "sTitle": "Sale Value(Rs.)", "sClass": "text-right" }//10
        , { "mData": "LIFE_IN_YRS",'sType':'natural', "sTitle": "Life in(Yrs.,mnths.)", "sClass": "text-center" }//11
         , { "mData": "ID", "sTitle": "View", "sClass": "text-center" }//12
    
       ],
            "aoColumnDefs":
                  [
                      {
                          "aTargets": [3]
                      , "mRender": function (data, type, row) {

                          return data || 'N/A'

                      }
                      },


                       {
                           "aTargets": [4]
                            , "mRender": function (data, type, row) {
                            return dateFormat(data)

                       }
                       },
                         {
                             "aTargets": [6]
                      , "mRender": function (data, type, row) {
                          if (row.DateOfSale!=null)
                              return 'Sold'
                          else
                              return data || 'N/A'
                       
                      }
                         },
                      {
                          "aTargets": [8]
                      , "mRender": function (data, type, row) {
                          if (data == null) {
                           
                              return 'Not Sold'
                          }
                          else {
                          
                              return dateFormat(data);
                          }
                      }
                      },
              {
                  "aTargets": [9]
              , "mRender": function (data, type, row) {
                  var item = row.ID;
                  if (data == null) {
                      
                      return 'Not Sold'
                  }
                  else {
                   
                      return data;
                  }
                  
              }
              },

              {
                  "aTargets": [11]
              , "mRender": function (data, type, row) {
                  var itemCode = row.ID;
                  return '<button="" onclick=ViewDetails(' + itemCode + ')><i class="fa fa-list"/></button>'
              }
              }


                  ],
        });
    });

    function dateFormat(date) {

        var d = new Date(date);
        var month = ('0' + (d.getMonth() + 1)).slice(-2);
        var date1 = ('0' + d.getDate()).slice(-2);
        var DateFormat = month + '/' + date1 + '/' + d.getFullYear();
        return DateFormat;
    }


    function ViewDetails(itemCode) {
        window.location.href = '@Url.Content("~/AssetReportView/AssetDetailView?ItemCode=")' + itemCode;
    }



</script>
<div class="card">
    <div class="card-header text-center ">
        <h4>Asset Report</h4>
    </div>
    <div class="card-body">
        <div>
            <div class="row m-t-15">
                <div class="MTS_Table">
                    <table id="getassetreport" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
