@{
    ViewBag.Title = "EmailSending";
    Layout = Url.Content("~/views/shared/_AccountLayout.cshtml");
}

@using (Html.BeginForm("EmailSending","Account", FormMethod.Post, new { @class = "form-signin"}))
{
     <div class="card text-center card-shadow">
                    <div class="card-header form-signin-heading">
                        Email
                    </div>
                    <div class="card-body">
                        <div >
                  Password sent to your mail id.</div>
  <input type="submit" value="Ok" id="btnSubmit" class="btn btn-primary btn-block m-t-15 " name="ok" />    
                    </div>           
        </div>
       

}
