    body {color: #222;padding: 0; background:url(../images/bg-content.jpg) repeat;}
    
	html,body {height:100%; width:100%;border:0px !important; overflow-x:hidden; font-family: Tahoma, Geneva, sans-serif !important;font-size:12px;line-height:15px}
	
    /* no borders for buttons (ie7) */
		button {*border: none !important;*border-color: transparent !important}
		
		a,button,input {outline:none !important}
		
	/* main headings*/
		.heading {border-bottom: 1px solid #dcdcdc;margin-bottom: 18px;padding-bottom: 5px}
		.heading h1,.heading h2,.heading h3,h1.heading,h2.heading,h3.heading,.modal-header h3 {font-family: Tahoma, Geneva, sans-serif;font-weight:400}
		.heading .btn {vertical-align:bottom;margin-left:10px}
    
	/* fix for .label position */
		h1 + .label {margin:13px 10px 0 0}
		h2 + .label {margin:12px 10px 0 0}
		h3 + .label {margin:7px 10px 0 0}

	/* text-shadow */
		.dataTables_wrapper .sorting_asc,.dataTables_wrapper .sorting_desc {text-shadow: 1px 1px 0 #eee}

	/* Bootstrap adjustments */
		
		[class^="icon-"], [class*=" icon-"] {margin-top:0}
		.btn-mini [class^="icon-"], btn-mini [class*=" icon-"] {margin-top:1px}
		
		h1,h2,h3,h4,h5,h6{font-family:Tahoma, Geneva, sans-serif;font-weight:700;color:inherit;text-rendering:optimizelegibility;margin:0}
		h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:400;color:#999}
		h1{font-size:30px;line-height:36px}
		h2{font-size:24px;line-height:36px}
		h3{font-size:18px;line-height:27px}
		h4,h5,h6{line-height:18px}
		h6{font-size:11px;color:#999;text-transform:uppercase}
		h1 small,h2 small{font-size:18px}
		h3 small,h4{font-size:14px}
		h4 small,h5{font-size:12px}
		label, input, button, select, textarea,
		select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,
		.btn {font-size:12px}
		
		.row-fluid div[class*="span"] {min-height:1px}
		form .row-fluid + .row-fluid {margin-top:10px !important}
		.dropdown-menu li {padding:0 5px}
		.dropdown-menu li a {padding:3px 20px 3px 8px;position:relative}
		
		.modal-footer {padding:7px 15px 8px}
		.modal {border:5px solid #fff;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none}
		.modal-header {background:#e4e4e4;border-color:#d4d4d4;padding:5px 15px}
		.modal-header .close {margin-top:5px}
		.modal-body{padding:20px 15px}
		.modal-backdrop, .modal-backdrop.fade.in {opacity:.7;background:#000}		

		.modal_box {background: #fff;padding:20px}
		.modal_box form {background: #fff}
		.container-fluid{ background:#fff;padding:8px !important;margin:5px; min-height:500px;}
		.table td {padding:5px;}
		
		.nav-tabs{padding-top:10px !important;padding-left:0px;border-bottom:0px !important;}
		.nav-tabs > li {list-style:none;}
		.nav-tabs > li > a{line-height:15px;padding-bottom:3px;}
		.nav-tabs > li > a:hover{text-decoration:none;}
		
		.tab-content{width:100%;}
		
		.pagination{margin:0px !important;}
		select{min-width:55px !important;}
		form{margin:0px !important;}
		
		.text-left {text-align: left !important;}
		.text-right {text-align: right !important;}
		.text-center {text-align: center !important;}
		
		
       .align-right {
          right: 47px !important;
          left: auto !important;
        }
		
	/*data table fix*/
		.dataTables_filter, .dataTables_paginate{text-align:right !important;}
		.table{margin-bottom:5px !important;}
		
	/* main content */
		#header{width:100%; height:40px; float:left; background:url(../images/bg-body.jpg) repeat;padding:5px 0px;}
		.logo{width:125px;height:20px;float:left;background:url(../images/logo.png) no-repeat;margin:10px 10px 0;}
		#navi{width:100%;height:38px;float:left;margin-bottom:0px;}
	    #content {width:100%; float:left;}
	    #footer{height:20px;padding-top:5px;text-align:center;width:100%;font-size:11px;font-weight:400;color:#fff;bottom:0;left:0;position:fixed;background:url(../images/bg-body.jpg) repeat;}

	/* login page */
		.login_box {width:380px;margin:15% auto 24px;background:#fff;border:1px solid #ccc;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);-ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);box-shadow: 0 0 6px rgba(0,0,0,0.2);}
		@media screen and (-webkit-min-device-pixel-ratio:0){ .login_box input[type="text"], .login_box input[type="password"], .chzn-search input[type="text"]{height:20px;}
		}
		.top_b {font: 100 16px/42px Tahoma, Geneva, sans-serif;height:42px;padding:0 20px;background:url(../Images/bg-body.jpg);border-bottom:1px solid #ccc;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px; color:#fff;}
		.cnt_b {padding:30px 0;width:75%;margin:0; margin-left:65px;}
		.btm_b {padding:12px 20px;border-top:1px solid #e7e7e7;background:#f7f7f7;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-radius: 0px 0px 6px 6px;border-radius: 0px 0px 6px 6px}
		.btm_bn {padding:5px 20px;border:1px solid #d7d7d7;background:#e7e7e7;-moz-border-radius: 6px;-webkit-border-radius:6px;border-radius:6px; margin-bottom:3px;}
		
		.brdcrm{ color:#fff; float:right; font-size:12px; padding:15px 20px 0 0; width:300px;}
		.brdcrm_label{ width:25%; text-align:right; font-weight:bold; float:left; font-size:12px;}
		.brdcrm_value{ width:70%; text-align:left; float:left; font-size:12px;}
	/* navigation page */	
		.navbar-inner {
		  min-height: 30px !important;
		  filter:none !important;
		  background:url(../images/menu_bg.jpg) repeat-x center !important;
		  border:#526576 solid 1px;
		  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); 
		     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); 
		          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
		  -webkit-border-radius: 0px;
		     -moz-border-radius: 0px;
		          border-radius: 0px;
		}		
		.navbar {
		  margin:0px !important;
		}		
		.navbar .nav {
		  position: relative;
		  left: 0;
		  display: block;
		  float: left;
		  margin: 0 10px 0 0;
		}
		.navbar .nav.pull-right {
		  float: right;
		  margin-right: 0;
		}
		.navbar .nav > li {
		  display:inline-block;
		  border-right:#5b748a solid 1px;
		  float:left;
		}
		.navbar .nav > li > a {
		  float: none;
		  padding: 8px 25px;
		  color: #fff;
		  text-decoration: none;
		  text-shadow: none !important;
		}
		.navbar .nav li.dropdown > a:link .caret,
		.navbar .nav li.dropdown > a:hover .caret,
		.navbar .nav li.dropdown > a:focus .caret {
		  border-top-color: #fff;
		  border-bottom-color: #fff;
		}
		.navbar .nav > li > a:focus,
		.navbar .nav > li > a:hover {
		  background:url(../images/menu_hover.png) repeat-x top;
		  color: #fff;
		  text-decoration: none;
		  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
			 -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
				  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
		}
		.navbar .nav > .active > a,
		.navbar .nav > .active > a:hover,
		.navbar .nav > .active > a:focus {
		  color: #fff;
		  text-decoration: none;
		  background:url(../images/menu_active.png) repeat-x top;
		  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
			 -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
				  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
		}
		.hidden{
		  display:none !important;
		  visibility:hidden !important;
		}
		.show{
		  display:block !important;
		  visibility:visible !important;
		}
		/* Gaps ( margins ) */

		.gap0 {margin: 0 !important;}
		.gap5 {margin: 5px;}
		.gap10 {margin: 10px;}
		.gap15 {margin: 15px;}
		.gap20 {margin: 20px;}

		.gap-top0 {margin-top:0;}
		.gap-top5 {margin-top:5px;}
		.gap-top10 {margin-top: 10px;}
		.gap-top15 {margin-top: 15px;}
		.gap-top20 {margin-top: 20px;}

		.gap-right0 {margin-right:0 !important;}
		.gap-right5 {margin-right:5px;}
		.gap-right10 {margin-right: 10px;}
		.gap-right15 {margin-right: 15px;}
		.gap-right20 {margin-right: 20px;}

		.gap-left0 {margin-left:0 !important;}
		.gap-left5 {margin-left:5px;}
		.gap-left10 {margin-left: 10px;}
		.gap-left15 {margin-left: 15px;}
		.gap-left20 {margin-left: 20px;}

		.gap-bottom0 {margin-bottom:0 !important;}
		.gap-bottom5 {margin-bottom:5px;}
		.gap-bottom10 {margin-bottom: 10px;}
		.gap-bottom15 {margin-bottom: 15px;}
		.gap-bottom20 {margin-bottom: 20px;}


		/* Pads (padding) */

		.pad0 {padding: 0;}
		.pad5 {padding: 5px;}
		.pad10 {padding: 10px;}
		.pad15 {padding: 15px;}
		.pad20 {padding: 20px;}
		.pad25 {padding: 25px;}

		.pad-right0 {padding-right:0;}
		.pad-right5 {padding-right:5px;}
		.pad-right10 {padding-right: 10px;}
		.pad-right15 {padding-right: 15px;}
		.pad-right20 {padding-right: 20px;}

		.pad-left0 {padding-left:0;}
		.pad-left5 {padding-left:5px;}
		.pad-left10 {padding-left: 10px;}
		.pad-left15 {padding-left: 15px;}
		.pad-left20 {padding-left: 20px;}

		.pad-bottom0 {padding-bottom:0;}
		.pad-bottom5 {padding-bottom:5px;}
		.pad-bottom10 {padding-bottom: 10px;}
		.pad-bottom15 {padding-bottom: 15px;}
		.pad-bottom20 {padding-bottom: 20px;}

		.pad-top0 {padding-top:0;}
		.pad-top5 {padding-top:5px;}
		.pad-top10 {padding-top: 10px;}
		.pad-top15 {padding-top: 15px;}
		.pad-top20 {padding-top: 20px;}

		/*------------------Box Shade-----------------*/
		.boxshade{
			background-color: #ffffff;
			border: 1px solid #bbb;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			outline: none;
			-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
			-webkit-background-clip: padding-box;
			-moz-background-clip: padding-box;
			background-clip: padding-box;
		}
		.boxhead{
			padding: 9px 15px;border-bottom: 1px solid #ddd;
			padding: 14px 15px 15px;
			margin-bottom: 0;
			text-align: left;
			background-color: #f5f5f5;
			-webkit-border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			-webkit-box-shadow: inset 0 1px 0 #ffffff;
			-moz-box-shadow: inset 0 1px 0 #ffffff;
			box-shadow: inset 0 1px 0 #ffffff;
			font-size:large;
		}
		.boxbody{
			height: auto;
			padding: 15px; 
			float:left;
			width:auto;
			margin:0 !important;
			background-color:#fff;    
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
		 }
		.boxfoot{
			padding: 10px 15px;
			margin: 0 !important;
			text-align: right;
			background-color: #f5f5f5;
			border-top: 1px solid #ddd;
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			-webkit-box-shadow: inset 0 1px 0 #ffffff;
			-moz-box-shadow: inset 0 1px 0 #ffffff;
			box-shadow: inset 0 1px 0 #ffffff;
			float:left;
		}

/*--------------------------Error Div------------------*/
.errDiv {
	width: 100%;
	height: 20px;
	position: absolute;
	border-radius: 2px;
	right:0;
}

.errDiv_item {
	width: 130px;
	height: 20px;
	position: absolute;
	color: white;
	background: #ff0000;
	border: none;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	font-size:12px;
	right:0;
}

.errDiv_options {
	min-width: 110px;
	height: auto;
	background: #FFBEBE;
	border-top: 4px solid #CC0000;
	position: absolute;
	margin-top: 20px;
	display: none;
	padding:10px;
	right:0;
}

#toggle{height: 345px; overflow: hidden;}
.carett{display:inline-block;width: 0;height: 0;vertical-align: top;border-top: 4px solid #000000;border-right: 4px solid transparent;border-left: 4px solid transparent;content: "";}
.nav .dropdown-toggle .carett {margin-top: 6px;border-top-color: #0088cc;border-bottom-color: #0088cc;float:right;}
.nav .dropdown-toggle:hover .carett {border-top-color: #9ed3ed;border-bottom-color: #9ed3ed;}
.nav .active .dropdown-toggle .carett {border-top-color: #fff;border-bottom-color: #fff;}

.divtable{
    margin:0 !important;
    border:#dddddd 1px solid; 
    border-bottom:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.divtable1{
    margin:0 !important;
    border-bottom:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.divtablemarg{
    border:#dddddd 1px solid; 
    border-bottom:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.divtable [class*="divtr"]:nth-of-type(odd){
    background:#f9f9f9;
}
.divtable [class*="divtr"]:nth-of-type(even){
    background:#ffffff;
}
.divtablemarg [class*="divtr"]:nth-of-type(odd){
    background:#f9f9f9;
}
.divtablemarg [class*="divtr"]:nth-of-type(even){
    background:#ffffff;
}
.divtr_rad{
    border:#ddd solid 1px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.divtrr{
    margin:0 !important;
    border-bottom:#ddd solid 1px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background:none !important;
    font-size:20px;
    font-weight:bold;
}
.divtr{
    margin:0 !important;
    border-bottom:#ddd solid 1px;
}
.divtr_fst{
    margin:0 !important;
    border-bottom:#ddd solid 1px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.divtr_lst{
    margin:0 !important;
    border-bottom:#ddd solid 1px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.divtd{
    margin:0 !important;
    padding:10px;
    border-right:#ddd solid 1px;
}
.divtd_lst{
    margin:0 !important;
    padding:10px;
}

		/* Styles for validation helpers*/
.field-validation-error, .requi{
    color: #ff0000;
    font-size:12px;
}
.field-validation-valid{
    display: none;
}
.input-validation-error{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
input{
    font-family: Tahoma, Geneva, sans-serif;
}
.validation-summary-errors{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid{
    display: none;
}

#divimgloading{background: none !important; border: 0 !important;}
.loading
{
    background:url(../Images/loadingtxt.png) no-repeat center center;
    width:88px !important;
    height:30px;
    position:absolute;
    z-index:99999999999999;
    top:60px;
    left:45%;
    overflow:hidden;
}
		/*Slider script*/
.season-box {
    color:#666;
    font-size:14px;
    width:100%;
}
.slide-outer {
    overflow:hidden;
}
.slide-outer ul{
	margin:0px !important;
	margin-bottom:8px !important;
}
#slide-box {
	list-style: none;
	padding: 0;
	margin-top:0;
	width: 100%;
	height: 448px;
	position: relative;
}
#slide-box .list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 448px;
	background: #F8F8F8;
	overflow:auto;
}
#slide-box-satus {
	list-style: none;
	padding: 0;
	margin-top:0;
	width: 100%;
	height: 575px;
	position: relative;
}
#slide-box-satus .list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 575px;
	background: #F8F8F8;
	overflow:auto;
}
.pager {
      margin: 0;
      float: right;
      list-style: none;
}
.pager ul {
	list-style:none;
	padding:0;
	margin:0 !important;
	display: inline-block;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pager ul li {
	display:inline-block;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
	display: block;
	float: left;
	overflow: hidden;
}
.pager ul li:hover, .pager ul li .active {
	color: #999999;
	cursor: default;
	background-color: #f5f5f5;
	cursor:pointer;
}
.pager ul li:first-child {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
			-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
			-moz-border-radius-topleft: 4px;
}
.pager ul li:last-child {
	-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
			-moz-border-radius-bottomright: 4px;
}
/*==================Image zoom==================*/

.row-fluid .span9a {
  width: 83.46808510638297%;
  *width: 83.41489361702126%;
  border-right:2px solid #dddddd;
  padding-right:0.5%;
  margin-right:0.5%;
}
.viewer {
    width: 98%;
    height: 100%;
    position: relative;
    padding:1%;
}
.iviewer_common {
    position:absolute;
    bottom:70px;
    border: 1px  solid #000;
    height: 20px;
    z-index: 5000;
}
.iviewer_button {
    width: 20px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    position:fixed;
}

.iviewer_zoom_in {
    left: 30px;
}

.iviewer_zoom_out {
    left: 65px;
}

.iviewer_zoom_fit {
    left: 100px;
}
.iviewer_rotate_left{
    left: 135px;
}

.btnn {
  display: inline-block;
  *display: inline;
  padding: 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top left, #5bc0de 0%, #2f96b4 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *border: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #222222 !important;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #2f96b4;
	   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #2f96b4;
		    box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #2f96b4;
	text-shadow: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			margin-right:5px;
}
.btnn:hover,
.btnn:active,
.btnn.active,
.btnn.disabled,
.btnn[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
	text-shadow: 0 0 1px #222222;
	color: #222222 !important;
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #2f96b4;
	   -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #2f96b4;
		    box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #2f96b4;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;	
}

.btnn:active,
.btnn.active {
	color: #222222 !important;
	text-shadow: 0 0 10px #222222;
  background-color: #24748c \9;
}


.loading
{
    background:url(../images/loadingtxt.png) no-repeat center center;
    width:88px !important;
    height:30px;
    position:absolute;
    z-index:99999999999999;
    top:60px;
    left:45%;
    overflow:hidden;
}
.QOverlay {
	/*background:  url(Image/transbg.png) repeat;*/
	z-index: 9999;
}

.QLoader {
	background: url(../images/loadingtxt.png) no-repeat;
	height: 30px;
	width:88px;
}