@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
<script src="~/Scripts/ValidationFunction.js"></script>
<script>
    var groupTable;
    $(document).ready(function () {

        groupTable = $("#getlocation").DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
            "bFilter": true,
            "bProcessing": true,
            "ajax": {
                type: 'Get',
                async: true,
                url: '@Url.Content("~/Location/Read")',
                dataSrc: function (data) {
                    return JSON.parse(data);
                }
            },

            "aoColumns":
                [{ "mData": "LocationID", "sTitle": "ID", "sClass": "text-right", "sWidth": "80px", "bVisible": false }
                , { "mData": "LocationName", "sTitle": "Location", "sClass": "text-left" }
                , { "mData": "LocationID", "sTitle": "Edit", "sClass": "text-center", "sWidth": "1%", "orderable": false }
                ],
            "aoColumnDefs":
                [{
                    "aTargets": [2]
                    , "mRender": function (data, type, row) {
                        return '<span onclick= editlocation($(this).closest("tr"))  class="fa fa-edit"></span>';
                    }
                }],
        });
    });

    function AddEdit(actionurl, formid) {
        debugger
        if (checkForm(formid)) {
            $.ajax({
                type: 'POST',
                url: actionurl,
                data: {
                    LocationID: $("#rowId").val(),
                    LocationName: $("#editlocation").val().trim()
                },
                success: function (response) {
                    debugger
                    if (parseInt(response.success) == 1) {

                        $("#location").modal('hide');
                        groupTable.ajax.reload();
                        toastr.success("Successfully Added");
                    } else {
                        $('.field-validation-valid').text("Failed To Update, Already Exists");
                        $('.field-validation-valid').show();
                    }
                },
                error: function (a, b, c) {
                }
            });
        }

    };

    function editlocation(curTr) {
        debugger
        var data = groupTable.row(curTr).data();
        $("#url").val('@Url.Content("~/Location/Edit")');
        $(".field-validation-valid").text("");
        $("#rowId").val(data.LocationID);
        $("#editlocation").val(data.LocationName);
        $("#actiontitle").text("Edit Location");
        $("#location").modal('show');
    };

    function addLocation() {
        debugger
        $("#url").val('@Url.Content("~/Location/Add")');
        $(".field-validation-valid").text("");
        $("#editlocation").val("");
        $("#actiontitle").text("Add Location");
        $("#location").modal('show');
    };


</script>

<div class="card">
    <div class="card-header text-center ">
        Location
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right ">
                        <button type="button" onclick="addLocation()" class="btn btn-primary btn-sm" id="create"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Add</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row m-t-15">

                <div class="MTS_Table">
                    <table id="getlocation" class="table table-bordered table-hover tabel-sm table-responsive" cellspacing="0" width="100%"></table>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="location" data-backdrop="static" keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="actiontitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">
                <form id="LocationList">
                    <input type="hidden" id="rowId" value="">
                    <input type="hidden" class="form-control" id="url" value="">

                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" name="Location" id="editlocation" data-val-regex-pattern="^[a-zA-Z ]+$" />
                        <span class="field-validation-valid" style="color: red; font: bold; display: none"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="dataurl">
                    <div>
                        <button type="button" id="save" class="btn btn-success" onclick="AddEdit($('#url').val(), 'LocationList')">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
