@{
    Layout = "~/Views/Shared/Layout_New.cshtml";
}
<link href="~/Content/css/bxslider-4.2.1/jquery.bxslider.css" rel="stylesheet" />
<script src="~/Scripts/bxslider-4.2.1/jquery.bxslider.js"></script>
<script src="~/Scripts/widgets.js"></script>
<style>
   .card-body {
    padding: 20px;
}
.card-header {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #333;    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	border-bottom:0;
	padding:20px;
	background-color:transparent;
	border-radius:0;
}

    .less-view {
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
    }

    .more-view {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
    }

    .new-joiner {
        margin: 0;
        box-shadow: none;
        border: 0px;
    }

        .new-joiner .bx-pager {
            padding: 0;
        }

            .new-joiner .bx-pager.bx-default-pager a {
                width: 8px;
                height: 8px;
                margin: 0 3px;
            }

        .new-joiner .bx-pager {
            bottom: -13px;
        }

            .new-joiner .bx-pager.bx-default-pager a:hover, .new-joiner .bx-pager.bx-default-pager a.active, .new-joiner .bx-pager.bx-default-pager a:focus {
                background-color: #118cf1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#1ad0fc), to(#118cf1));
            }
    .hover-card:hover {
        box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #d5d5d5;
    }

    .birthday-card {
        height: 146px;
        background: url(../../Images/birthday_v1.jpg) center center no-repeat;
        background-size: cover;
        border-radius: 8px;
    }
        .birthday-card  .name {
            position: absolute;
            line-height: 31px;
            color: #fff;
            margin: 0;
            left: 0;
            font-style: italic;
            font-size: 18px;
            top: 50%;
            right: 0;
            font-weight: 600;
            margin-top: -31px;
        }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="row">

            <div class="col-md-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        Live Feeds
                        <div class="pull-right">
                            <p class="m-b-0 pull-left fz14 m-r-5">XC</p>
                            <div class="tg-list pull-left">
                                <div class="tg-list-item">
                                    <input class="tgl tgl-light" id="twitOption" type="checkbox" /><label class="tgl-btn" for="twitOption"></label>
                                </div>
                            </div>
                            <p class="m-b-0 pull-left fz14 m-l-5">MTS</p>
                        </div>
                    </div>
                    <div class="card-body p-t-0 overflow-y-a" style="height:290px;">
                        <div id="twitXC">
                            <a class="twitter-timeline" data-theme="light" href="https://twitter.com/xtraCHEF?ref_src=twsrc%5Etfw">Tweets by xtraCHEF</a>
                        </div>
                        <div id="twitMTS" style="display:none;">
                            <a class="twitter-timeline" data-theme="light" href="https://twitter.com/corporate_mtsin?ref_src=twsrc%5Etfw">Tweets by corporate_mtsin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        Announcements
                        <a class="fz12 pull-right" href="">Add Announcements</a>
                    </div>
                    <div class="card-body p-t-0" style="height:290px;overflow-y:auto;">
                        <div class="m-b-15 less-view" data-id="fullView">
                            <div class="post-heading">
                                <h5 class="fz14">
                                    <b>Happy a </b>
                                </h5>
                                <div class="post-detail fz12">
                                    <label class="m-r-20">by Priyanka S</label>Jan 14 2020  6:39PM
                                </div>
                                <div id="content" style="display:none;border-top:1px solid #eee;height:238px;overflow-y:auto;" class="m-t-5 p-t-5 p-b-5 fz14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                <a href="#" class="fz12 pull-right spanedit" data-id="show_details" data-content="toggle-text">View More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="m-b-15 less-view" data-id="fullView">
                            <div class="post-heading">
                                <h5 class="fz14">
                                    <b>Happy Diwali</b>
                                </h5>
                                <div class="post-detail fz12">
                                    <label class="m-r-20">by Priyanka S</label>Jan 14 2020  6:39PM
                                </div>
                                <div id="content" style="display:none;border-top:1px solid #eee;height:238px;overflow-y:auto;" class="m-t-5 p-t-5 p-b-5 fz14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                <a href="#" class="fz12 pull-right spanedit" data-id="show_details" data-content="toggle-text">View More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="m-b-15 less-view" data-id="fullView">
                            <div class="post-heading">
                                <h5 class="fz14">
                                    <b>Happy Pongal</b>
                                </h5>
                                <div class="post-detail fz12">
                                    <label class="m-r-20">by Priyanka S</label>Jan 14 2020  6:39PM
                                </div>
                                <div id="content" style="display:none;border-top:1px solid #eee;height:238px;overflow-y:auto;" class="m-t-5 p-t-5 p-b-5 fz14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                <a href="#" class="fz12 pull-right spanedit" data-id="show_details" data-content="toggle-text">View More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        <div class="pull-left">
                            <div class="pull-left">Attendance of</div>
                            <div class="pull-left m-l-10">
                                <select class="form-control form-control-sm wdith-60 fz12 p-t-0 p-b-0 height-25-imp line-height-25">
                                    <option>Jan</option>
                                    <option>Feb</option>
                                </select>
                            </div>
                        </div>
                         
                        <div class="pull-right">
                            <a class="fz12" href="">View Details</a>
                        </div>
                    </div>
                    <div class="card-body p-t-0" style="height:290px;overflow-y:auto;">
                        <div>
                            <div class="clearfix">
                                <p class="m-b-0 pull-left fz12">Week1</p>
                                <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14">36</span> / 40hrs</p>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-success" style="width:70%;height:5px;"></div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="clearfix">
                                <p class="m-b-0 pull-left fz12">Week2</p>
                                <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14">20</span> / 40hrs</p>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-warning" style="width:50%;height:5px;"></div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="clearfix">
                                <p class="m-b-0 pull-left fz12">Week3</p>
                                <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14">10</span> / 40hrs</p>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-danger" style="width:20%;height:5px;"></div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="clearfix">
                                <p class="m-b-0 pull-left fz12">Week4</p>
                                <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14">36</span> / 40hrs</p>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-success" style="width:70%;height:5px;"></div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <div class="clearfix">
                                <p class="m-b-0 pull-left fz12">Week5</p>
                                <p class="m-b-0 pull-right fz12"><span class="fz-w-600 fz14">36</span> / 40hrs</p>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-success" style="width:70%;height:5px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-b-30">
                    <div class="card-header">
                        Upcoming Holidays
                    </div>
                    <div class="card-body p-t-0" style="height:290px;overflow-y:auto;">
                        <ul class="list-group list-group-flush fz13">
                            <li class="list-group-item p10 p-l-0 p-r-0 opacity-3">
                                <span class="pull-left">
                                    Pongal
                                </span>
                                <span class="pull-right">
                                    15 - Jan, Wed
                                </span>
                            </li>                           
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Tamil New year's
                                </span>
                                <span class="pull-right">
                                    14 - Apr, Tue
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    May Day
                                </span>
                                <span class="pull-right">
                                    01 - May, Fri
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Independence -USA
                                </span>
                                <span class="pull-right">
                                    03 - Jul, Fri
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Gandhi Jayanthi
                                </span>
                                <span class="pull-right">
                                    02 - Oct, Fri
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Vijaya Dasami
                                </span>
                                <span class="pull-right">
                                    26 - Oct, Mon
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Deepavali
                                </span>
                                <span class="pull-right">
                                    13 - Nov, Fri
                                </span>
                            </li>
                            <li class="list-group-item p10 p-l-0 p-r-0">
                                <span class="pull-left">
                                    Christmas
                                </span>
                                <span class="pull-right">
                                    25 - Dec, Fri
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-b-30 d-none">
            <div class="card-header">
                Upcoming Birthday
            </div>
            <div class="card-body p-t-0" style="height:80px">
                <h4 class="text-center m-t-10 text-primary">Mohamed Insankamil MS</h4>
            </div>
        </div>
        <div class="card m-b-30">            
            <div class="card-body birthday-card p-t-0">
                <h4 class="name text-center">Happy Birthday<br /><span>Mohamed Insankamil MS</span></h4>
            </div>
        </div>
        <div class="card m-b-30">
            <div class="card-header">
                New Joiner
                <a class="fz12 pull-right" href="">View All</a>
            </div>
            <div class="card-body p-t-0" style="height:114px;">
                <div id="newJoinerSlider">
                    <div style="border:1px solid #eee;padding:10px;border-radius:5px;">
                        <img class="pull-left m5" height="50" width="50" src=" ~/Content/images/Default.jpg" />
                        <div style="padding-left:80px;">
                            <p class="m-b-5 fz14">Mohamed Insankamil MS</p>
                            <p class="m-b-0 fz12 clr-99">UI Developer</p>
                            <p class="m-b-0 fz12 clr-99">md.insan@mtsin.com</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div style="border:1px solid #eee;padding:10px;border-radius:5px;">
                        <img class="pull-left m5" height="50" width="50" src=" ~/Content/images/Default.jpg" />
                        <div style="padding-left:80px;">
                            <p class="m-b-5 fz14">Mohamed Insankamil MS</p>
                            <p class="m-b-0 fz12 clr-99">UI Developer</p>
                            <p class="m-b-0 fz12 clr-99">md.insan@mtsin.com</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-30">
            <div class="card-header">
                Leave
                <a class="fz12 pull-right" href="">Apply Leave</a>
            </div>
            <div class="card-body p-t-0" style="height:97px">
                <div class="d-flex m-t-10">
                    <div class="d-flex align-items-center flex-wrap flex-column flex-grow-1 leave-details">
                        <p class="fz18 m-b-0 clr-33 fz-w-800">04 
                            <i class="fa fa-exclamation-circle fz12 clr-99" data-toggle="popover" data-placement="left" data-html="true" 
                               data-content="<table class='table m0 table-sm' style='width:130px'><tr><th class='brd-t-0-imp' colspan='2'>Leave Takan</th></tr><tr><td>Casual</td><td>2</td></tr><tr><td>Sick</td><td>1</td></tr><tr><td>Earned</td><td>1</td></tr></table>"></i>
                        </p>
                        <p class="fz14 m-b-0 clr-99 fz-w-600">Leave Taken</p>
                    </div>
                    <div class="d-flex align-items-center flex-wrap flex-column flex-grow-1 leave-details">
                        <p class="fz18 m-b-0 clr-33 fz-w-800">10
                            <i class="fa fa-exclamation-circle fz12 clr-99" data-toggle="popover" data-placement="left" data-html="true"
                               data-content="<table class='table m0 table-sm' style='width:130px'><tr><th class='brd-t-0-imp' colspan='2'>Remaining</th></tr><tr><td>Casual</td><td>4</td></tr><tr><td>Sick</td><td>4</td></tr><tr><td>Earned</td><td>2</td></tr></table>"></i>
                        </p>
                        <p class="fz14 m-b-0 clr-99 fz-w-600">Remaining</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-30">
            <div class="card-header">
                Pay Slip / Form 16
                <a class="fz12 pull-right" href="">View More</a>
            </div>
            <div class="card-body p-t-0" style="height:97px">
                <div class="row">
                    <div class="col-md-6">
                        <div style="border: 1px solid #eee;cursor:pointer;" class="p10 text-center hover-card">
                            <i class="fa fa-download fa-lg text-success"></i>
                            <p class="clr-33 m0 fz14">Donwload Pay Slip</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="border: 1px solid #eee;" class="p10 text-center opacity-3">
                            <i class="fa fa-download fa-lg text-success"></i>
                            <p class="clr-33 m0 fz14">Donwload Form 16</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#newJoinerSlider').bxSlider({
            infiniteLoop: true,
            slideMargin: 10,
            responsive: true,
            controls: true,
            minSlides: 1,
            maxSlides: 1,
            moveSlides: 1,
            wrapperClass: 'bx-wrapper new-joiner',
            auto: true,
        });
        $('#twitOption').click(function () {
            if ($(this).prop("checked") == true) {
                $('#twitXC').hide();
                $('#twitMTS').show();
            }
            else if ($(this).prop("checked") == false) {
                $('#twitXC').show();
                $('#twitMTS').hide();
            }
        });
        $('[data-toggle="popover"]').popover({
            trigger:'hover'
        })

        $('[data-id="show_details"]').on("click", function () {
            
            if ($(this).parent().parent().hasClass('less-view')) {
                $(this).parent().parent().removeClass('less-view').addClass('more-view');
                $(this).parent().find('#content').show();
                $(this).text('View less');
            }
            else {
                $(this).parent().parent().addClass('less-view').removeClass('more-view');
                $(this).parent().find('#content').hide();
                $(this).text('View more');
            }
            //$('#content').slideToggle(200);
            //var msg = $(this).parent().find('#content');
            //var txt = $(msg).is(':visible') ? 'View more' : 'View less';
            //$(this).text(txt);
            //$(this).parent().parent().find('#content').slideToggle(200);
        });
    });
</script>