<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header card-header">
            <div class="p-a-md p-l-10 fa fa-lg fa-edit">
                &nbsp;
                <b>Payroll Details of Employee - </b><b id="EmpName"></b>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body card-body">
            <div class="row form-group p-t-10">
                <div class="col-md-3">
                    <input type="hidden" id="EmployeeId" />
                    <input type="hidden" id="PayrollId" />
                    <input type="hidden" id="OptionId" />
                    <label>
                        Employee Name:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="EmpName_Payroll" disabled="disabled" />
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="hidden" id="EmpPfrestriction" />
                    <label>
                        Date of join:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Empdoj_Payroll" disabled="disabled" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Employee NO:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Empno_Payroll" disabled="disabled" />
                </div>
                <div class="col-md-3">
                    <input type="hidden" id="EmployeeId" />
                    <label>
                        Payroll Month & Year:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Month" disabled="disabled" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="card-header">
                <span style="text-align: center; display: block;">Earnings</span>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Basic Pay:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="basicpay" class="inputs"  maxlength="10" onchange="validateandcalculatepayrolldetails($(this).val())" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        House Allowance:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="hra" class="inputs" maxlength="10" onchange="validateandcalculatepayrolldetails($(this).val())" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Special Allowance:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="special_allowance" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Medical Allowance:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Medical_allowance" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Conveyance
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Conveyance" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Food Allowance:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="foodallowance" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            @*<div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Petrol Allowance
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="others2" onblur="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Driver Allowance
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="others3" onblur="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>*@
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Other Earnings
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="others" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Gross Earnings:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="totalearnings" disabled="disabled" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="card-header">
                <span style="text-align: center; display: block;">Deductions</span>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                       Meal Card:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="sudexopass" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Income Tax:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="incometax" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Professional Tax:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Professional_Tax" maxlength="10" disabled="disabled" />
                </div>
                <div class="col-md-3">
                    <label>
                        Employee Esi:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Employee_Esi" maxlength="10" disabled="disabled" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Employee PF:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Employee_PF" maxlength="10" disabled="disabled" />
                </div>
                <div class="col-md-3">
                    <label>
                        Other Deductions:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="othersded" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            @*<div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Other Deduction2:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="othersded2" onblur="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Other Deduction3:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="othersded3" onblur="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
            </div>*@
            <div class="row form-group p-t-10">
                @*<div class="col-md-3 gap-top10">
                    <label>
                        Other Deduction4:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="othersded4" onblur="validateandcalculatepayrolldetails($(this).val())" maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>*@
                <div class="col-md-3">
                    <label>
                        Total Deductions:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="total_deduction" disabled="disabled" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="card-header">
                <span style="text-align: center; display: block;">Consolidated Details</span>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Incentives:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="incentives" class="inputs" onchange="validateandcalculatepayrolldetails($(this).val())"  maxlength="10" onkeydown="isNumberanddot(event)" />
                </div>
                <div class="col-md-3">
                    <label>
                        Net Salary:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Net_Salary"  disabled="disabled" />
                </div>
            </div>
            <div class="row form-group p-t-10">
                <div class="col-md-3 gap-top10">
                    <label>
                        Paid Days:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="Total_Days" disabled="disabled" />
                </div>
                <div class="col-md-3">
                    <label>
                        LOP Days:
                    </label>
                </div>
                <div class="col-md-3 gap-top10">
                    <input type="text" id="lop_Days" disabled="disabled"  onchange="validateandcalculatepayrolldetails($(this).val())" maxlength="2" onkeydown="isNumberanddot(event)" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer card-footer" style="text-align: center">
            <button type="submit" id="btnLocationMapping" onclick="UpdatePayrollDetails()" class="btn btn-primary btn-sm">
                <i class="fa fa-save"></i>&nbsp; Update
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">
                <i class="fa fa-remove "></i>&nbsp; Close
            </button>
        </div>
    </div>

</div>

<script>
    var professionalTaxDeduction = [];
    var pfDeduction = [];
    var esiDeduction = [];
    $(document).ready(function () {

            $.ajax({
                type: "GET",
                //  data: { EmpId: EmpId },
                url: '@Url.Content("~/Payroll/GetDeductionCalculationDetails")',
                success: function (data) {
                    pfDeduction = JSON.parse(data.result1);
                    esiDeduction = JSON.parse(data.result2);
                    professionalTaxDeduction = JSON.parse(data.result3);

                }
            });

        if ($('#OptionId').val() == 2) {
            $('#btnLocationMapping').hide();
            $('.inputs').attr('disabled', 'disabled');
        }
        else {
            $('#btnLocationMapping').show();
            $('.inputs').removeAttr('disabled');
        }

    });

    function UpdatePayrollDetails() {

        validatelop();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Payroll/UpdatePayrollDetails")',
            data: {
                ID: $("#PayrollId").val(),
                EmployeeId: $('#EmployeeId').val(),
                BasicPay: $('#basicpay').val(),
                HouseAllowance: $('#hra').val(),
                SpecialAllowance: $('#special_allowance').val(),
                Medical_allowance: $('#Medical_allowance').val(),
                FoodAllowance : $('#foodallowance').val(),
                Conveyance: $('#Conveyance').val(),
                Others: $('#others').val(),
                TotalEarnings: $('#totalearnings').val(),
                SudexoPass: $('#sudexopass').val(),
                IncomeTax: $('#incometax').val(),
                Professional_Tax: $('#Professional_Tax').val(),
                EmployeeEsi: $('#Employee_Esi').val(),
                Employee_PF: $('#Employee_PF').val(),
                OthersDeductions: $('#othersded').val(),
                TotalDeductions: $('#total_deduction').val(),
                Incentives: $('#incentives').val(),
                NetSalary: $('#Net_Salary').val(),
                TotalDays: $('#Total_Days').val(),
                LopDays: $('#lop_Days').val(),
                PaidDays: $('#Total_Days').val() - $('#lop_Days').val()
            },
            success: function (data) {
                if (data > 0) {
                    toastr.success("Payroll details updated successfully");
                    $("#EmployeePayrollDetailsModal").modal("hide");
                    ViewPayrollData('', 2);
                } else if (data == -1) {
                    toastr.warning("Error in Update");
                } else {
                    toastr.error("Something went wrong");
                }

            },
            error: function (e) {
            }
        })
    }

    function isNumberanddot(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && (event.keyCode != 46)) {
            evt.preventDefault();
            return false;
        }
        return true;
    }

    function validateandcalculatepayrolldetails(data) {
        //if (!(parseInt(data.trim()) > 0)) {
        //    return false;
        //}

        if (!validatelop())
            return false;
        var BasicPay = $('#basicpay').val().trim() == '' ? 0 : $('#basicpay').val();
        if (BasicPay == 0) {
            $('#basicpay').val(0);
            //event.preventDefault();
            //return false;
        }
        var HouseAllowance = $('#hra').val().trim() == '' ? 0 : $('#hra').val();
        if (HouseAllowance == 0) {
            $('#hra').val(0);
            //event.preventDefault();
            //return false;
        }
        var SpecialAllowance = $('#special_allowance').val().trim() == '' ? 0 : $('#special_allowance').val();
        if (SpecialAllowance == 0) {
            $('#special_allowance').val(0);
            //event.preventDefault();
            //return false;
        }
        var Medical_allowance = $('#Medical_allowance').val().trim() == '' ? 0 : $('#Medical_allowance').val();
        if (Medical_allowance == 0) {
            $('#Medical_allowance').val(0);
            //event.preventDefault();
            //return false;
        }
        var Food_allowance = $('#foodallowance').val().trim() == '' ? 0 : $('#foodallowance').val();
        if (Food_allowance == 0) {
            $('#foodallowance').val(0);
        }
        var Conveyance = $('#Conveyance').val().trim() == '' ? 0 : $('#Conveyance').val();
        if (Conveyance == 0) {
            $('#Conveyance').val(0);
            //event.preventDefault();
            //return false;
        }
        var Others = $('#others').val().trim() == '' ? 0 : $('#others').val();
        if (Others == 0) {
            $('#others').val(0);
        }

        var TotalEarnings = $('#totalearnings').val();
        var SudexoPass = $('#sudexopass').val().trim() == '' ? 0 : $('#sudexopass').val();
        if (SudexoPass == 0) {
            $('#sudexopass').val(0);
        }
        var IncomeTax = $('#incometax').val().trim() == '' ? 0 : $('#incometax').val();
        if (IncomeTax == 0) {
            $('#incometax').val(0);
        }
        var pfrestriction = $('#EmpPfrestriction').val() == 'true' ? 1 : 0;

        var OthersDeductions = $('#othersded').val().trim() == '' ? 0 : $('#othersded').val();
        if (OthersDeductions == 0) {
            $('#othersded').val(0);
        }

        var TotalDeductions = $('#total_deduction').val();
        var Incentives = $('#incentives').val().trim() == '' ? 0 : $('#incentives').val();
        if (Incentives == 0) {
            $('#incentives').val(0);
        }
        var NetSalary = $('#Net_Salary').val();
        var TotalDays = $('#Total_Days').val();
        var LopDays = $('#lop_Days').val();

        var earnings = (parseFloat(BasicPay) + parseFloat(HouseAllowance) + parseFloat(SpecialAllowance) + parseFloat(Medical_allowance) + parseFloat(Food_allowance) + parseFloat(Conveyance) + parseFloat(Others));
        $('#totalearnings').val(Math.round(earnings));

        var calculated_pf = get_pf(parseFloat(BasicPay), parseFloat(HouseAllowance), parseFloat(earnings), parseInt(pfrestriction));
        var calculated_pt = get_pt(parseFloat(earnings));
        var calculated_esi = get_esi(parseFloat(earnings));

        $('#Professional_Tax').val(Math.round(calculated_pt));
        $('#Employee_Esi').val(Math.round(calculated_esi));
        $('#Employee_PF').val(Math.round(calculated_pf));

        var Professional_Tax = $('#Professional_Tax').val();
        var EmployeeEsi = $('#Employee_Esi').val();
        var Employee_PF = $('#Employee_PF').val();




        var deductions = (parseFloat(SudexoPass) + parseFloat(IncomeTax) + parseFloat(Professional_Tax) + parseFloat(EmployeeEsi) + parseFloat(Employee_PF) + parseFloat(OthersDeductions))
        $('#total_deduction').val(Math.round(deductions));
        var grant_total = (parseFloat(earnings) - parseFloat(deductions)) + parseFloat(Incentives);
        NetSalary = Math.round(((grant_total) / TotalDays) * (TotalDays - LopDays));
        $('#Net_Salary').val(NetSalary);
    }
    function get_pf(BasicPay, HouseAllowance, earnings, pfrestriction) {
        var pf = 0
        if (BasicPay > pfDeduction[0].EPF_BASIC_MAX_SALARY && pfrestriction != 0) {
            pf = (BasicPay * pfDeduction[0].EPF_EMPLOYEE_CONTRIBUTION_PERCENTAGE) / 100;
        }
        else if (BasicPay > pfDeduction[0].EPF_BASIC_MAX_SALARY && pfrestriction == 0) {
            pf = (15000 * pfDeduction[0].EPF_EMPLOYEE_CONTRIBUTION_PERCENTAGE) / 100;
        }
        else if ((earnings - HouseAllowance) > 15000) {
            pf = (15000 * pfDeduction[0].EPF_EMPLOYEE_CONTRIBUTION_PERCENTAGE) / 100;
        }
        else if ((earnings - HouseAllowance) < 15000) {
            pf = ((earnings - HouseAllowance) * pfDeduction[0].EPF_EMPLOYEE_CONTRIBUTION_PERCENTAGE) / 100;
        }
        return pf;
    }
    function get_pt(earnings) {
        var pt = 0;

        $.each(professionalTaxDeduction, function (i) {
            if (earnings * 6 >= professionalTaxDeduction[i].TAX_RANGE_FROM && earnings * 6 <= professionalTaxDeduction[i].TAX_RANGE_TO) {   //Duration cycle is half_yearly(so only multiply by 6)
                pt = Math.round(professionalTaxDeduction[i].PT_AMOUNT / 6);
            }
        });
        return pt;
    }
    function get_esi(earnings) {
        var esi = 0;
        if (earnings < esiDeduction[0].ESI_BASIC_SALARY) {
            esi = Math.round((earnings * esiDeduction[0].ESI_EMPLOYEE_CONTRIBUTION_PERCENTAGE) / 100);
        }

        return esi;
    }
    function validatelop() {
        var TotalDays = $('#Total_Days').val();
        var LopDays = $('#lop_Days').val();
        if (parseInt(LopDays) > parseInt(TotalDays)) {
            toastr.warning("LOP Days should be less than or equal to Total Days");
            return false;
        }
        return true;
    }
</script>
