
@{
    ViewBag.Title = "PayrollReport";
}


@System.Web.Optimization.Scripts.Render("~/bundles/datatable")
@System.Web.Optimization.Styles.Render("~/bundles/datepickercss")
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/DataTable-Excel-Export/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTable-Excel-Export/jszip.min.js"></script>
<script src="~/Scripts/DataTable-Excel-Export/pdfmake.min.js"></script>
<script src="~/Scripts/DataTable-Excel-Export/vfs_fonts.js"></script>
<script src="~/Scripts/DataTable-Excel-Export/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTable-Excel-Export/buttons.print.min.js"></script>

<div class="card">
    <div class="card-header">
        Payroll Reports - Monthly
    </div>
    <div class="card-body">
        <div id="EmployeeDetailsList">
            <div class="row">
                <div class="col-lg-12 form-group row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <label>Select Month & Year:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" id="txtFrom" onkeypress="return false;" onpaste="return false;" class="form-control" />
                    </div>
                @*<div class="col-lg-4 form-group row">
                    <div class="col-lg-4">
                        <label>To Date:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" id="txtTo" onkeypress="return false;" onpaste="return false;" class="form-control" />
                    </div>
                </div>*@
                    <div class="col-lg-1">
                        <label>Option:</label>
                    </div>
                    <div class="col-lg-2">
                        <select type="text" class="form-control select2cls" id="drpdwnReportOption">
                            <option value="0">--Select Option--</option>
                            <option value="1">EPF Summary</option>
                            <option value="2">ESI Summary</option>
                            <option value="3">Professional Tax Summary</option>
                            <option value="4">LOP Summary</option>
                            <option value="5">ESIC Return Report</option>
                        </select>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
                    <div class="text-center">
                        <button type="button" id="btnsubmit" onclick="loadReport()" class="btn-success btn-sm"><i class="fa fa-send-o"></i>&nbsp; Submit</button>
                        <button type="button" id="btnclear" onclick="clearInputs()" class="btn-primary btn-sm"><i class="fa fa-times"></i>&nbsp; Clear</button>
                    </div>
            <div class="col-md-12">
                <div class="row m-t-15">
                    <div class="MTS_Table">
                        <table id="PayrollReportDetails" class="table table-striped table-bordered full_width" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var groupTable = [];
    $(document).ready(function () {
        $('#txtFrom').datepicker({
            autoclose: true,
            minViewMode: 1,
            format: 'MM-yyyy'
        });

        //$('#txtTo').datepicker({
        //    autoclose: true,
        //    minViewMode: 1,
        //    format: 'MM-yyyy'
        //});
    });
    function loadReport() {

        var FromDate = $('#txtFrom').val();
        //var ToDate = $('#txtTo').val();

        if (FromDate == "") {
            toastr.warning("From Date should not be empty");
            return false;
        }

        //if (ToDate == "") {
        //    toastr.warning("To Date should not be empty");
        //    return false;
        //}

        //if (new Date(FromDate) > new Date(ToDate)) {
        //    toastr.warning("From Date shoulde be less than To Date");
        //    return false;
        //}
        //// end - start returns difference in milliseconds
        //var diff = (new Date(ToDate) - new Date(FromDate));

        //// get days
        //var days = diff / 1000 / 60 / 60 / 24;
        //if (days < 30) {
        //    toastr.warning("Days difference between from and to should greater than 30 days.");
        //    return false;
        //}

        var Option = $("#drpdwnReportOption").val();
        if (Option == 0) {
            toastr.warning("Please Select Report Option");
            return false;
        }

        $.ajax({
            url: '@Url.Action("GetPayrollReport", "Payroll")',
            data: { 'FromDate': FromDate, 'Option': Option },
            async: false,
            success: function (data) {
                if (data.result != "" && data.result != null) {
                    var ds = JSON.parse(data.result);
                    setTimeout(function () {
                        ViewPayrollReports(ds, Option);
                    },1000);

                }
                else {
                    toastr.warning("Failed to Retrive");
                    return false;
                }

            }
        });
    }

    function clearInputs() {
        $('#txtFrom').val('');
        $('#txtTo').val('');
        $("#drpdwnReportOption").val(0);
        $("#drpdwnReportOption").trigger('change');
    }

    function ViewPayrollReports(ds, Option) {
        //PayrollReportDetails
        var FromDate = $('#txtFrom').val();
        var ToDate = $('#txtTo').val();
        if ($.fn.DataTable.isDataTable('#PayrollReportDetails')) {
            $('#PayrollReportDetails').DataTable().clear().draw();
            $('#PayrollReportDetails').dataTable().fnDestroy();
            $('#PayrollReportDetails thead').html('');
            groupTable = [];
        }
        if (Option == "1") {
            groupTable = $("#PayrollReportDetails").DataTable({
                "dom": 'Blfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    className: 'btn btn-primary btn-sm pull-right',
                    exportOptions: {
                        columns: ':visible' //
                    },

                    text: '<img src=@Url.Content("~/Content/images/Excel_14_px.png")> Download', //'<img src="/Content/images/Excel_14_px.png"> Download',
                    filename: 'Payroll_Report_EPF_Summary_' + FromDate + '_' + ToDate,
                    customizeData: function (data) {
                        for (var i = 0; i < data.body.length; i++) {
                            for (var j = 0; j < data.body[i].length; j++) {
                                if (data.header[j] == "Column Name") {
                                    data.body[i][j] = '\u200C' + data.body[i][j];
                                }
                            }
                        }
                    },

                }],
                "lengthMenu": [[-1, 5, 10, 25, 50], ["All", 5, 10, 25, 50]],
                "iDisplayLength": 5,
                "bFilter": true,
                "scrollX": true,
                "bProcessing": true,
                "data": ds,
                "aoColumns": [
                   { "mData": "Employee_Id", "sTitle": "Employee Id", "sClass": "text-left" },
                   { "mData": "Employee_Name", "sTitle": "Employee Name", "sClass": "text-left" },
                   { "mData": "PF_AccountNumber", "sTitle": "PF Account#", "sClass": "text-left"},
                   { "mData": "EPF_WAGES", "sTitle": "EPF Wages", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "Pf_Amount", "sTitle": "EPF Amount", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "EPS_AMOUNT", "sTitle": "EPS Amount", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "VPF_AMOUNT", "sTitle": "VPF Amount", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "EPF_EDLI_CHARGES", "sTitle": "EDLI Charges", "sClass": "text-center", "sWidth": "10%" },
                   { "mData": "EPF_ADMIN_CHARGES", "sTitle": "Admin Charges", "sClass": "text-center" },
                ]
            })
        }
        if (Option == "2") {

            groupTable = $("#PayrollReportDetails").DataTable({
                "dom": 'Blfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    className: 'btn btn-primary btn-sm pull-right',
                    exportOptions: {
                        columns: ':visible' //
                    },

                    text: '<img src=@Url.Content("~/Content/images/Excel_14_px.png")> Download',
                    filename: 'Payroll_Report_ESI_Summary_' + FromDate + '_' + ToDate,
                    customizeData: function (data) {
                        for (var i = 0; i < data.body.length; i++) {
                            for (var j = 0; j < data.body[i].length; j++) {
                                if (data.header[j] == "Column Name") {
                                    data.body[i][j] = '\u200C' + data.body[i][j];
                                }
                            }
                        }
                    },

                }],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "iDisplayLength": 5,
                "bFilter": true,
                "scrollX": true,
                "bProcessing": true,
                "data": ds,
                "aoColumns": [
                   { "mData": "Employee_Id", "sTitle": "Employee Id", "sClass": "text-left" },
                   { "mData": "Employee_Name", "sTitle": "Employee Name", "sClass": "text-left" },
                   { "mData": "ESI_Number", "sTitle": "ESI#", "sClass": "text-left" },
                   { "mData": "ESI_DEDUCTION", "sTitle": "ESI Employee", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "EMPLOYER_ESI", "sTitle": "ESI Employer", "sClass": "text-right", "sWidth": "20%" },
                   { "mData": "TOTAL_CONTRIBUTION", "sTitle": "Total Contribution", "sClass": "text-right", "sWidth": "20%" }
                ]
            })
        }
        if (Option == "3") {
            groupTable = $("#PayrollReportDetails").DataTable({
                "dom": 'Blfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    className: 'btn btn-primary btn-sm pull-right',
                    exportOptions: {
                        columns: ':visible' //
                    },

                    text: '<img src=@Url.Content("~/Content/images/Excel_14_px.png")> Download',
                    filename: 'Payroll_Report_Professional_Tax_' + FromDate + '_' + ToDate,
                    customizeData: function (data) {
                        for (var i = 0; i < data.body.length; i++) {
                            for (var j = 0; j < data.body[i].length; j++) {
                                if (data.header[j] == "Column Name") {
                                    data.body[i][j] = '\u200C' + data.body[i][j];
                                }
                            }
                        }
                    },

                }],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "iDisplayLength": 5,
                "bFilter": true,
                "scrollX": true,
                "bProcessing": true,
                "data": ds,
                "aoColumns": [
                   { "mData": "Employee_Id", "sTitle": "Employee Id", "sClass": "text-left" },
                   { "mData": "Employee_Name", "sTitle": "Employee Name", "sClass": "text-left" },
                   { "mData": "PROFESSIONAL_TAX", "sTitle": "Professional Tax", "sClass": "text-right" },

                ]
            })
        }
        if (Option == "4") {
            groupTable = $("#PayrollReportDetails").DataTable({
                "dom": 'Blfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    className: 'btn btn-primary btn-sm pull-right',
                    exportOptions: {
                        columns: ':visible' //
                    },

                    text: '<img src=@Url.Content("~/Content/images/Excel_14_px.png")> Download',
                    filename: 'Payroll_Report_LOP_Days_' + FromDate + '_' + ToDate,
                    customizeData: function (data) {
                        for (var i = 0; i < data.body.length; i++) {
                            for (var j = 0; j < data.body[i].length; j++) {
                                if (data.header[j] == "Column Name") {
                                    data.body[i][j] = '\u200C' + data.body[i][j];
                                }
                            }
                        }
                    },

                }],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "iDisplayLength": 5,
                "bFilter": true,
                "scrollX": true,
                "bProcessing": true,
                "data": ds,
                "aoColumns": [
                   { "mData": "Employee_Id", "sTitle": "Employee Id", "sClass": "text-left" },
                   { "mData": "Employee_Name", "sTitle": "Employee Name", "sClass": "text-left" },
                   { "mData": "LOP_DAYS", "sTitle": "LOP Days", "sClass": "text-right" },

                ]
            })
        }
        if (Option == "5") {
            groupTable = $("#PayrollReportDetails").DataTable({
                "dom": 'Blfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    footer: true,
                    className: 'btn btn-primary btn-sm pull-right',
                    exportOptions: {
                        columns: ':visible' //
                    },

                    text: '<img src=@Url.Content("~/Content/images/Excel_14_px.png")> Download',
                    filename: 'Payroll_Report_EPIC_Days_' + FromDate + '_' + ToDate,
                    customizeData: function (data) {
                        for (var i = 0; i < data.body.length; i++) {
                            for (var j = 0; j < data.body[i].length; j++) {
                                if (data.header[j] == "Column Name") {
                                    data.body[i][j] = '\u200C' + data.body[i][j];
                                }
                            }
                        }
                    },

                }],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "iDisplayLength": 5,
                "bFilter": true,
                "scrollX": true,
                "bProcessing": true,
                "data": ds,
                "aoColumns": [
                   { "mData": "Employee_Id", "sTitle": "Employee Id", "sClass": "text-left" },
                   { "mData": "Insurance_Person_Name", "sTitle": "Insurance Person Name", "sClass": "text-left" },
                   { "mData": "ESI_Number", "sTitle": "ESI#", "sClass": "text-left" },
                   { "mData": "PAID_DAYS", "sTitle": "Paid Days", "sClass": "text-left" },
                   { "mData": "GROSS_EARNINGS", "sTitle": "Gross Earnings", "sClass": "text-left" },
                   { "mData": "Reason", "sTitle": "Reason", "sClass": "text-left" },
                   { "mData": "Last_Working_Day", "sTitle": "Last Working Day", "sClass": "text-left" },

                ]
            })
        }
    }
</script>
